{
    ALA = {
	C = C;
	CA = CA;
	CB = CB;
	H = H;
	HA = HA;
	HB1 = 1HB;
	HB2 = 2HB;
	HB3 = 3HB;
	N = N;
	O = O;
    };
    ARG = {
	C = C;
	CA = CA;
	CB = CB;
	CD = CD;
	CG = CG;
	CZ = CZ;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD2 = 2HD;
	HD3 = 3HD;
	HE = HE;
	HG2 = 2HG;
	HG3 = 3HG;
	HH11 = 1HH1;
	HH12 = 2HH1;
	HH21 = 1HH2;
	HH22 = 2HH2;
	N = N;
	NE = NE;
	NH1 = NH1;
	NH2 = NH2;
	O = O;
    };
    ASN = {
	C = C;
	CA = CA;
	CB = CB;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD21 = 1HD2;
	HD22 = 2HD2;
	N = N;
	ND2 = ND2;
	O = O;
	OD1 = OD1;
    };
    ASP = {
	C = C;
	CA = CA;
	CB = CB;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD2 = HD2;
	N = N;
	O = O;
	OD1 = OD1;
	OD2 = OD2;
    };
    CYS = {
	C = C;
	CA = CA;
	CB = CB;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HG = HG;
	N = N;
	O = O;
	SG = SG;
    };
    GLN = {
	C = C;
	CA = CA;
	CB = CB;
	CD = CD;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HE21 = 1HE2;
	HE22 = 2HE2;
	HG2 = 2HG;
	HG3 = 3HG;
	N = N;
	NE2 = NE2;
	O = O;
	OE1 = OE1;
    };
    GLU = {
	C = C;
	CA = CA;
	CB = CB;
	CD = CD;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HE2 = HE2;
	HG2 = 2HG;
	HG3 = 3HG;
	N = N;
	O = O;
	OE1 = OE1;
	OE2 = OE2;
    };
    GLY = {
	C = C;
	CA = CA;
	H = H;
	HA2 = 2HA;
	HA3 = 3HA;
	N = N;
	O = O;
    };
    HIS = {
	C = C;
	CA = CA;
	CB = CB;
	CD2 = CD2;
	CE1 = CE1;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD1 = HD1;
	HD2 = HD2;
	HE1 = HE1;
	HE2 = HE2;
	N = N;
	ND1 = ND1;
	NE2 = NE2;
	O = O;
    };
    ILE = {
	C = C;
	CA = CA;
	CB = CB;
	CD1 = CD1;
	CG1 = CG1;
	CG2 = CG2;
	H = H;
	HA = HA;
	HB = HB;
	HD11 = 1HD1;
	HD12 = 2HD1;
	HD13 = 3HD1;
	HG12 = 2HG1;
	HG13 = 3HG1;
	HG21 = 1HG2;
	HG22 = 2HG2;
	HG23 = 3HG2;
	N = N;
	O = O;
    };
    LEU = {
	C = C;
	CA = CA;
	CB = CB;
	CD1 = CD1;
	CD2 = CD2;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD11 = 1HD1;
	HD12 = 2HD1;
	HD13 = 3HD1;
	HD21 = 1HD2;
	HD22 = 2HD2;
	HD23 = 3HD2;
	HG = HG;
	N = N;
	O = O;
    };
    LYS = {
	C = C;
	CA = CA;
	CB = CB;
	CD = CD;
	CE = CE;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD2 = 2HD;
	HD3 = 3HD;
	HE2 = 2HE;
	HE3 = 3HE;
	HG2 = 2HG;
	HG3 = 3HG;
	HZ1 = 1HZ;
	HZ2 = 2HZ;
	HZ3 = 3HZ;
	N = N;
	NZ = NZ;
	O = O;
    };
    MET = {
	C = C;
	CA = CA;
	CB = CB;
	CE = CE;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HE1 = 1HE;
	HE2 = 2HE;
	HE3 = 3HE;
	HG2 = 2HG;
	HG3 = 3HG;
	N = N;
	O = O;
	SD = SD;
    };
    PHE = {
	C = C;
	CA = CA;
	CB = CB;
	CD1 = CD1;
	CD2 = CD2;
	CE1 = CE1;
	CE2 = CE2;
	CG = CG;
	CZ = CZ;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD1 = HD1;
	HD2 = HD2;
	HE1 = HE1;
	HE2 = HE2;
	HZ = HZ;
	N = N;
	O = O;
    };
    PRO = {
	C = C;
	CA = CA;
	CB = CB;
	CD = CD;
	CG = CG;
	H2 = H2;
	H3 = H3;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD2 = 2HD;
	HD3 = 3HD;
	HG2 = 2HG;
	HG3 = 3HG;
	N = N;
	O = O;
    };
    SER = {
	C = C;
	CA = CA;
	CB = CB;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HG = HG;
	N = N;
	O = O;
	OG = OG;
    };
    THR = {
	C = C;
	CA = CA;
	CB = CB;
	CG2 = CG2;
	H = H;
	HA = HA;
	HB = HB;
	HG1 = HG1;
	HG21 = 1HG2;
	HG22 = 2HG2;
	HG23 = 3HG2;
	N = N;
	O = O;
	OG1 = OG1;
    };
    TRP = {
	C = C;
	CA = CA;
	CB = CB;
	CD1 = CD1;
	CD2 = CD2;
	CE2 = CE2;
	CE3 = CE3;
	CG = CG;
	CH2 = CH2;
	CZ2 = CZ2;
	CZ3 = CZ3;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD1 = HD1;
	HE1 = HE1;
	HE3 = HE3;
	HH2 = HH2;
	HZ2 = HZ2;
	HZ3 = HZ3;
	N = N;
	NE1 = NE1;
	O = O;
    };
    TYR = {
	C = C;
	CA = CA;
	CB = CB;
	CD1 = CD1;
	CD2 = CD2;
	CE1 = CE1;
	CE2 = CE2;
	CG = CG;
	CZ = CZ;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD1 = HD1;
	HD2 = HD2;
	HE1 = HE1;
	HE2 = HE2;
	HH = HH;
	N = N;
	O = O;
	OH = OH;
    };
    VAL = {
	C = C;
	CA = CA;
	CB = CB;
	CG1 = CG1;
	CG2 = CG2;
	H = H;
	HA = HA;
	HB = HB;
	HG11 = 1HG1;
	HG12 = 2HG1;
	HG13 = 3HG1;
	HG21 = 1HG2;
	HG22 = 2HG2;
	HG23 = 3HG2;
	N = N;
	O = O;
    };
    HSE = {
	C = C;
	CA = CA;
	CB = CB;
	CD2 = CD2;
	CE1 = CE1;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD1 = HD1;
	HD2 = HD2;
	HE1 = HE1;
	HE2 = HE2;
	N = N;
	ND1 = ND1;
	NE2 = NE2;
	O = O;
    };
    HSD = {
	C = C;
	CA = CA;
	CB = CB;
	CD2 = CD2;
	CE1 = CE1;
	CG = CG;
	H = H;
	HA = HA;
	HB2 = 2HB;
	HB3 = 3HB;
	HD1 = HD1;
	HD2 = HD2;
	HE1 = HE1;
	HE2 = HE2;
	N = N;
	ND1 = ND1;
	NE2 = NE2;
	O = O;
    };
}
