<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationGeneration</key>
	<array>
		<dict>
			<key>Class</key>
			<string>AdBerendsenThermostat</string>
			<key>Description</key>
			<string>Simulator component which scales the simulation velocities according to berensdens method</string>
			<key>DisplayName</key>
			<string>BerendsenThermostat</string>
			<key>couplingFactor</key>
			<dict>
				<key>Description</key>
				<string>Determines how strongly the thermostat will attempt to maintain the given temperature</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>100</string>
			</dict>
			<key>initialTemperature</key>
			<dict>
				<key>Description</key>
				<string>The thermostat will start at this temperature and increase it to the target temperature over time</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>300</string>
			</dict>
			<key>numberOfSteps</key>
			<dict>
				<key>Description</key>
				<string>The number of temperature steps to make between the initial and target temperature</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>5</string>
			</dict>
			<key>stepDuration</key>
			<dict>
				<key>Description</key>
				<string>The number of simulation steps to spend at each temperature</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>5000</string>
			</dict>
			<key>targetTemperature</key>
			<dict>
				<key>Description</key>
				<string>Target temperature for the thermostat</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>300</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdLangevinThermostat</string>
			<key>Description</key>
			<string>Simulator component which turns the simulators newtonian dynamics into langevin dynamics</string>
			<key>DisplayName</key>
			<string>LangevinThermostat</string>
			<key>gamma</key>
			<dict>
				<key>Description</key>
				<string>Value for the friction constant</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>0.05</string>
			</dict>
			<key>seed</key>
			<dict>
				<key>Description</key>
				<string>Seed used for generating random force vectors</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>49</string>
			</dict>
			<key>targetTemperature</key>
			<dict>
				<key>Description</key>
				<string>Target temperature for the thermostat</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>300</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdSimulator</string>
			<key>Description</key>
			<string>Numerically integrates newtons equation of motion for the given systems using the given force fields</string>
			<key>DisplayName</key>
			<string>Simulator</string>
			<key>checkFPErrorInterval</key>
			<dict>
				<key>Description</key>
				<string>IEEE floating point errors will be checked for at this interval</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1000</string>
			</dict>
			<key>components</key>
			<dict>
				<key>Description</key>
				<string>Array of components which will modify the integration algorithm</string>
				<key>isReferenceContainer</key>
				<string>YES</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array/>
			</dict>
			<key>numberOfSteps</key>
			<dict>
				<key>Description</key>
				<string>The number of integration steps to perform</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1000</string>
			</dict>
			<key>timeStep</key>
			<dict>
				<key>Description</key>
				<string>The simulator time step in femtoseconds</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdMinimiser</string>
			<key>Description</key>
			<string>Minimises the provided systems using the given algorithm</string>
			<key>DisplayName</key>
			<string>Minimiser</string>
			<key>absoluteTolerance</key>
			<dict>
				<key>Description</key>
				<string>The desired convergence criteria</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>0.005</string>
			</dict>
			<key>algorithm</key>
			<dict>
				<key>Description</key>
				<string>Minimisation algorithm: BFGS, FletcherReevesCG, PolakRibiereCG or SteepestDescent</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>BFGS</string>
			</dict>
			<key>checkFPErrorInterval</key>
			<dict>
				<key>Description</key>
				<string>IEEE floating point errors will be checked for at this interval</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1000</string>
			</dict>
			<key>numberOfSteps</key>
			<dict>
				<key>Description</key>
				<string>The maximum number of minimisation steps to perform</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>100</string>
			</dict>
			<key>stepSize</key>
			<dict>
				<key>Description</key>
				<string>The size of the initial minimisation step</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>0.1</string>
			</dict>
			<key>tolerance</key>
			<dict>
				<key>Description</key>
				<string>Meaning depends on the algorithm</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>0.1</string>
			</dict>
		</dict>
	</array>
	<key>forceField</key>
	<array>
		<dict>
			<key>Class</key>
			<string>AdPureNonbondedTerm</string>
			<key>Description</key>
			<string>Calculates nonbonded interactions with a straight cutoff</string>
			<key>DisplayName</key>
			<string>PureNonbondedTerm</string>
			<key>cutoff</key>
			<dict>
				<key>Description</key>
				<string>The nonbonded cutoff distance</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>12</string>
			</dict>
			<key>permittivity</key>
			<dict>
				<key>Description</key>
				<string>The relative permittivity to be used for electrostatic interactions</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1</string>
			</dict>
			<key>system</key>
			<dict>
				<key>Description</key>
				<string>The system that will be operated on</string>
				<key>type</key>
				<array>
					<string>AdSystem</string>
					<string>AdInteractionSystem</string>
				</array>
			</dict>
			<key>updateInterval</key>
			<dict>
				<key>Description</key>
				<string>Interval at which the list of nonbonded interaction will be updated.</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>20</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdShiftedNonbondedTerm</string>
			<key>Description</key>
			<string>Calulates nonbonded interactions with a shifted function</string>
			<key>DisplayName</key>
			<string>ShiftedNonbondedTerm</string>
			<key>cutoff</key>
			<dict>
				<key>Description</key>
				<string>The nonbonded cutoff distance</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>12</string>
			</dict>
			<key>permittivity</key>
			<dict>
				<key>Description</key>
				<string>The relative permittivity to be used for electrostatic interactions</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1</string>
			</dict>
			<key>system</key>
			<dict>
				<key>Description</key>
				<string>The system that will be operated on</string>
				<key>type</key>
				<array>
					<string>AdSystem</string>
					<string>AdInteractionSystem</string>
				</array>
			</dict>
			<key>updateInterval</key>
			<dict>
				<key>Description</key>
				<string>Interval at which the list of nonbonded interaction will be updated.</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>20</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdGRFNonbondedTerm</string>
			<key>Description</key>
			<string>Caluclates nonbonded interactions using generalised reaction field method</string>
			<key>DisplayName</key>
			<string>GRFNonbondedTerm</string>
			<key>cutoff</key>
			<dict>
				<key>Description</key>
				<string>The nonbonded cutoff distance</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>12</string>
			</dict>
			<key>epsilon1</key>
			<dict>
				<key>Description</key>
				<string>Relative permittivity inside the cutoff sphere</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1.0</string>
			</dict>
			<key>epsilon2</key>
			<dict>
				<key>Description</key>
				<string>Relative permittivity outside the cutoff sphere</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>78.0</string>
			</dict>
			<key>kappa</key>
			<dict>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>0.0</string>
			</dict>
			<key>system</key>
			<dict>
				<key>Description</key>
				<string>The system that will be operated on</string>
				<key>type</key>
				<array>
					<string>AdSystem</string>
					<string>AdInteractionSystem</string>
				</array>
			</dict>
			<key>updateInterval</key>
			<dict>
				<key>Description</key>
				<string>Interval at which the list of nonbonded interaction will be updated.</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>20</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdSCAAS</string>
			<key>Description</key>
			<string>Force field custom term which applies SCASS boundary conditions to the given system</string>
			<key>DisplayName</key>
			<string>Scaas</string>
			<key>boundaryDepth</key>
			<dict>
				<key>Description</key>
				<string>Depth of the boundary region</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>1.5</string>
			</dict>
			<key>containedSystems</key>
			<dict>
				<key>Description</key>
				<string>Array of systems that will be used to calculate the solute charge.</string>
				<key>isReferenceContainer</key>
				<string>YES</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array/>
			</dict>
			<key>system</key>
			<dict>
				<key>Description</key>
				<string>System the boundary conditions will be applied to</string>
				<key>type</key>
				<array>
					<string>AdSystem</string>
				</array>
			</dict>
			<key>targetTemperature</key>
			<dict>
				<key>Description</key>
				<string>Target temperature for the atoms in the boundary region</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>300</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdEnzymixForceField</string>
			<key>Description</key>
			<string>Uses the enzymix force field to calculate the forces/energies of the given system</string>
			<key>DisplayName</key>
			<string>Enzymix</string>
			<key>customTerms</key>
			<dict>
				<key>Description</key>
				<string>Array of components representing extra terms that will be added to the force field.</string>
				<key>isDictionary</key>
				<string>YES</string>
				<key>isReferenceContainer</key>
				<string>YES</string>
				<key>keyString</key>
				<string>CustomTerm</string>
				<key>optional</key>
				<string>YES</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array/>
			</dict>
			<key>nonbondedTerm</key>
			<dict>
				<key>Description</key>
				<string>Component used to calculate the nonbonded terms.</string>
				<key>type</key>
				<array>
					<string>AdNonbondedTerm</string>
				</array>
			</dict>
			<key>system</key>
			<dict>
				<key>Description</key>
				<string>The system the force field will operate on. Must supply the correct parameters</string>
				<key>type</key>
				<array>
					<string>AdSystem</string>
					<string>AdInteractionSystem</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdAmberForceField</string>
			<key>Description</key>
			<string>Uses the amber force field to calculate the forces/energies of the given system</string>
			<key>DisplayName</key>
			<string>Amber</string>
			<key>customTerms</key>
			<dict>
				<key>Description</key>
				<string>Array of components representing extra terms that will be added to the force field.</string>
				<key>isDictionary</key>
				<string>YES</string>
				<key>isReferenceContainer</key>
				<string>YES</string>
				<key>keyString</key>
				<string>CustomTerm</string>
				<key>optional</key>
				<string>YES</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array/>
			</dict>
			<key>nonbondedTerm</key>
			<dict>
				<key>Description</key>
				<string>Component used to calculate the nonbonded terms.</string>
				<key>type</key>
				<array>
					<string>AdNonbondedTerm</string>
				</array>
			</dict>
			<key>system</key>
			<dict>
				<key>Description</key>
				<string>The system the force field will operate on. Must supply the correct parameters</string>
				<key>type</key>
				<array>
					<string>AdSystem</string>
					<string>AdInteractionSystem</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdCharmmForceField</string>
			<key>Description</key>
			<string>Uses the charmm force field to calculate the forces/energies of the given system</string>
			<key>DisplayName</key>
			<string>Charmm</string>
			<key>customTerms</key>
			<dict>
				<key>Description</key>
				<string>Array of components representing extra terms that will be added to the force field.</string>
				<key>isDictionary</key>
				<string>YES</string>
				<key>isReferenceContainer</key>
				<string>YES</string>
				<key>keyString</key>
				<string>CustomTerm</string>
				<key>optional</key>
				<string>YES</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array/>
			</dict>
			<key>nonbondedTerm</key>
			<dict>
				<key>Description</key>
				<string>Component used to calculate the nonbonded terms.</string>
				<key>type</key>
				<array>
					<string>AdNonbondedTerm</string>
				</array>
			</dict>
			<key>system</key>
			<dict>
				<key>Description</key>
				<string>The system the force field will operate on. Must supply the correct parameters</string>
				<key>type</key>
				<array>
					<string>AdSystem</string>
					<string>AdInteractionSystem</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>miscellaneous</key>
	<array/>
	<key>system</key>
	<array>
		<dict>
			<key>Class</key>
			<string>AdSystem</string>
			<key>Description</key>
			<string>A collection of particles in a simulation</string>
			<key>DisplayName</key>
			<string>System</string>
			<key>centre</key>
			<dict>
				<key>Description</key>
				<string>The centre of mass of the system will be placed at this point</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>dataSource</key>
			<dict>
				<key>Description</key>
				<string>Object containing data that describes the static state of the system</string>
				<key>type</key>
				<array>
					<string>AdDataSource</string>
					<string>AdContainerDataSource</string>
				</array>
			</dict>
			<key>initialTemperature</key>
			<dict>
				<key>Description</key>
				<string>The initial velocities will be drawn from a Maxwell-Boltzmann distribution at this temperature</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>300</string>
			</dict>
			<key>removeTranslationalDOF</key>
			<dict>
				<key>Description</key>
				<string>Indicates if the translational degrees of freedom should be removed</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>YES</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdInteractionSystem</string>
			<key>Description</key>
			<string>Represents the interaction between two systems</string>
			<key>DisplayName</key>
			<string>InteractionSystem</string>
			<key>systems</key>
			<dict>
				<key>Description</key>
				<string>Array containing the two interacting system</string>
				<key>isReferenceContainer</key>
				<string>YES</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdContainerDataSource</string>
			<key>Description</key>
			<string>A region of space filled with a given system</string>
			<key>DisplayName</key>
			<string>Container</string>
			<key>cavity</key>
			<dict>
				<key>Description</key>
				<string>Component which describes the shape of the cavity</string>
				<key>type</key>
				<array>
					<string>AdSphericalBox</string>
					<string>AdEllipsoidBox</string>
				</array>
			</dict>
			<key>containedSystems</key>
			<dict>
				<key>Description</key>
				<string>Array of systems to be inserted into the cavity</string>
				<key>isReferenceContainer</key>
				<string>YES</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array/>
			</dict>
			<key>dataSource</key>
			<dict>
				<key>Description</key>
				<string>The system to be replicated in the container</string>
				<key>type</key>
				<array>
					<string>AdDataSource</string>
					<string>AdContainerDataSource</string>
				</array>
			</dict>
			<key>density</key>
			<dict>
				<key>Description</key>
				<string>The desired density in units of Daltons per Angstrom cubed</string>
				<key>type</key>
				<array>
					<string>NSString</string>
					<string>NSNumber</string>
				</array>
				<key>value</key>
				<real>0.60221415113400001</real>
			</dict>
			<key>seed</key>
			<dict>
				<key>Description</key>
				<string>Random seed</string>
				<key>type</key>
				<array>
					<string>NSString</string>
					<string>NSNumber</string>
				</array>
				<key>value</key>
				<string>320</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdEllipsoidBox</string>
			<key>Description</key>
			<string>Represents an ellipsoid shaped volume in space</string>
			<key>DisplayName</key>
			<string>EllipsoidCavity</string>
			<key>aLength</key>
			<dict>
				<key>Description</key>
				<string>The length of the x semi-axis</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>20</string>
			</dict>
			<key>bLength</key>
			<dict>
				<key>Description</key>
				<string>The length of the y semi-axis</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>20</string>
			</dict>
			<key>cLength</key>
			<dict>
				<key>Description</key>
				<string>The length of the z semi-axis</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>20</string>
			</dict>
			<key>cavityCentre</key>
			<dict>
				<key>Description</key>
				<string>The center of the cavity will be placed at this point</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AdSphericalBox</string>
			<key>Description</key>
			<string>Represents a spherical shaped volume in space</string>
			<key>DisplayName</key>
			<string>SphericalCavity</string>
			<key>cavityCentre</key>
			<dict>
				<key>Description</key>
				<string>The center of the cavity will be placed at this point</string>
				<key>type</key>
				<array>
					<string>NSArray</string>
				</array>
				<key>value</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>radius</key>
			<dict>
				<key>Description</key>
				<string>The radius of the sphere</string>
				<key>type</key>
				<array>
					<string>NSString</string>
				</array>
				<key>value</key>
				<string>20</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
