<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
	<key>ALA</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>1HB</string>
		<key>2HB</key>
		<string>2HB</string>
		<key>3HB</key>
		<string>3HB</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>ARG</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>1HG</key>
		<string>2HG</string>
		<key>2HG</key>
		<string>3HG</string>
		<key>1HD</key>
		<string>2HD</string>
		<key>2HD</key>
		<string>3HD</string>
		<key>HE</key>
		<string>HE</string>
		<key>1HH1</key>
		<string>1HH1</string>
		<key>2HH1</key>
		<string>2HH1</string>
		<key>1HH2</key>
		<string>1HH2</string>
		<key>2HH2</key>
		<string>2HH2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD</key>
		<string>CD</string>
		<key>CZ</key>
		<string>CZ</string>
		<key>N</key>
		<string>N</string>
		<key>NE</key>
		<string>NE</string>
		<key>NH1</key>
		<string>NH1</string>
		<key>NH2</key>
		<string>NH2</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>ASP</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>Asp1</key>
		<string>HD2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>OD1</key>
		<string>OD1</string>
		<key>OD2</key>
		<string>OD2</string>
	</dict>
	<key>ASN</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>2HD2</key>
		<string>1HD2</string>
		<key>1HD2</key>
		<string>2HD2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>N</key>
		<string>N</string>
		<key>ND2</key>
		<string>ND2</string>
		<key>O</key>
		<string>O</string>
		<key>OD1</key>
		<string>OD1</string>
	</dict>
	<key>CYS</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>HG</key>
		<string>HG</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>SG</key>
		<string>SG</string>
	</dict>
	<key>GLU</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>1HG</key>
		<string>2HG</string>
		<key>2HG</key>
		<string>3HG</string>
		<key>Glu1</key>
		<string>HE2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD</key>
		<string>CD</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>OE1</key>
		<string>OE1</string>
		<key>OE2</key>
		<string>OE2</string>
	</dict>
	<key>GLN</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>1HG</key>
		<string>2HG</string>
		<key>2HG</key>
		<string>3HG</string>
		<key>2HE2</key>
		<string>1HE2</string>
		<key>1HE2</key>
		<string>2HE2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD</key>
		<string>CD</string>
		<key>N</key>
		<string>N</string>
		<key>NE2</key>
		<string>NE2</string>
		<key>O</key>
		<string>O</string>
		<key>OE1</key>
		<string>OE1</string>
	</dict>
	<key>GLY</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>1HA</key>
		<string>2HA</string>
		<key>2HA</key>
		<string>3HA</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>HIS</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>HD1</key>
		<string>HD1</string>
		<key>HD2</key>
		<string>HD2</string>
		<key>HE1</key>
		<string>HE1</string>
		<key>His1</key>
		<string>HE2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD2</key>
		<string>CD2</string>
		<key>CE1</key>
		<string>CE1</string>
		<key>N</key>
		<string>N</string>
		<key>ND1</key>
		<string>ND1</string>
		<key>NE2</key>
		<string>NE2</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>ILE</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>HB</key>
		<string>HB</string>
		<key>1HG1</key>
		<string>2HG1</string>
		<key>2HG1</key>
		<string>3HG1</string>
		<key>1HG2</key>
		<string>1HG2</string>
		<key>2HG2</key>
		<string>2HG2</string>
		<key>3HG2</key>
		<string>3HG2</string>
		<key>1HD1</key>
		<string>1HD1</string>
		<key>2HD1</key>
		<string>2HD1</string>
		<key>3HD1</key>
		<string>3HD1</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG1</key>
		<string>CG1</string>
		<key>CG2</key>
		<string>CG2</string>
		<key>CD1</key>
		<string>CD1</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>LEU</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>HG</key>
		<string>HG</string>
		<key>1HD1</key>
		<string>1HD1</string>
		<key>2HD1</key>
		<string>2HD1</string>
		<key>3HD1</key>
		<string>3HD1</string>
		<key>1HD2</key>
		<string>1HD2</string>
		<key>2HD2</key>
		<string>2HD2</string>
		<key>3HD2</key>
		<string>3HD2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD1</key>
		<string>CD1</string>
		<key>CD2</key>
		<string>CD2</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>LYS</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>1HG</key>
		<string>2HG</string>
		<key>2HG</key>
		<string>3HG</string>
		<key>1HD</key>
		<string>2HD</string>
		<key>2HD</key>
		<string>3HD</string>
		<key>1HE</key>
		<string>2HE</string>
		<key>2HE</key>
		<string>3HE</string>
		<key>1HZ</key>
		<string>1HZ</string>
		<key>2HZ</key>
		<string>2HZ</string>
		<key>3HZ</key>
		<string>3HZ</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD</key>
		<string>CD</string>
		<key>CE</key>
		<string>CE</string>
		<key>N</key>
		<string>N</string>
		<key>NZ</key>
		<string>NZ</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>MET</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>1HG</key>
		<string>2HG</string>
		<key>2HG</key>
		<string>3HG</string>
		<key>1HE</key>
		<string>1HE</string>
		<key>2HE</key>
		<string>2HE</string>
		<key>3HE</key>
		<string>3HE</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CE</key>
		<string>CE</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>SD</key>
		<string>SD</string>
	</dict>
	<key>PHE</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>HD1</key>
		<string>HD1</string>
		<key>HD2</key>
		<string>HD2</string>
		<key>HE1</key>
		<string>HE1</string>
		<key>HE2</key>
		<string>HE2</string>
		<key>HZ</key>
		<string>HZ</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD1</key>
		<string>CD1</string>
		<key>CD2</key>
		<string>CD2</string>
		<key>CE1</key>
		<string>CE1</string>
		<key>CE2</key>
		<string>CE2</string>
		<key>CZ</key>
		<string>CZ</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>PRO</key>
	<dict>
		<key>H2</key>
		<string>H2</string>
		<key>H1</key>
		<string>H3</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>1HG</key>
		<string>2HG</string>
		<key>2HG</key>
		<string>3HG</string>
		<key>1HD</key>
		<string>2HD</string>
		<key>2HD</key>
		<string>3HD</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD</key>
		<string>CD</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>SER</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>HG</key>
		<string>HG</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>OG</key>
		<string>OG</string>
	</dict>
	<key>THR</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>HB</key>
		<string>HB</string>
		<key>HG1</key>
		<string>HG1</string>
		<key>1HG2</key>
		<string>1HG2</string>
		<key>2HG2</key>
		<string>2HG2</string>
		<key>3HG2</key>
		<string>3HG2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG2</key>
		<string>CG2</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>OG1</key>
		<string>OG1</string>
	</dict>
	<key>TRP</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>HD1</key>
		<string>HD1</string>
		<key>HE1</key>
		<string>HE1</string>
		<key>HE3</key>
		<string>HE3</string>
		<key>HZ2</key>
		<string>HZ2</string>
		<key>HZ3</key>
		<string>HZ3</string>
		<key>HH2</key>
		<string>HH2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD1</key>
		<string>CD1</string>
		<key>CD2</key>
		<string>CD2</string>
		<key>CE2</key>
		<string>CE2</string>
		<key>CE3</key>
		<string>CE3</string>
		<key>CZ2</key>
		<string>CZ2</string>
		<key>CZ3</key>
		<string>CZ3</string>
		<key>CH2</key>
		<string>CH2</string>
		<key>N</key>
		<string>N</string>
		<key>NE1</key>
		<string>NE1</string>
		<key>O</key>
		<string>O</string>
	</dict>
	<key>TYR</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>1HB</key>
		<string>2HB</string>
		<key>2HB</key>
		<string>3HB</string>
		<key>HD1</key>
		<string>HD1</string>
		<key>HD2</key>
		<string>HD2</string>
		<key>HE1</key>
		<string>HE1</string>
		<key>HE2</key>
		<string>HE2</string>
		<key>HH</key>
		<string>HH</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG</key>
		<string>CG</string>
		<key>CD1</key>
		<string>CD1</string>
		<key>CD2</key>
		<string>CD2</string>
		<key>CE1</key>
		<string>CE1</string>
		<key>CE2</key>
		<string>CE2</string>
		<key>CZ</key>
		<string>CZ</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>OH</key>
		<string>OH</string>
	</dict>
	<key>VAL</key>
	<dict>
		<key>H</key>
		<string>H</string>
		<key>HA</key>
		<string>HA</string>
		<key>HB</key>
		<string>HB</string>
		<key>1HG1</key>
		<string>1HG1</string>
		<key>2HG1</key>
		<string>2HG1</string>
		<key>3HG1</key>
		<string>3HG1</string>
		<key>1HG2</key>
		<string>1HG2</string>
		<key>2HG2</key>
		<string>2HG2</string>
		<key>3HG2</key>
		<string>3HG2</string>
		<key>C</key>
		<string>C</string>
		<key>CA</key>
		<string>CA</string>
		<key>CB</key>
		<string>CB</string>
		<key>CG1</key>
		<string>CG1</string>
		<key>CG2</key>
		<string>CG2</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
	</dict>
</dict>
</plist>
