<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
	<key>Application</key>
	<dict>
		<key>General</key>
		<dict>
			<key>Seed</key>
			<string>320</string>
		</dict>
		<key>IO</key>
		<dict>
			<key>OutputIntervals</key>
			<dict>
				<key>Energy</key>
				<string>100</string>
				<key>Configuration</key>
				<string>100</string>
				<key>EnergyDump</key>
				<string>5000</string>
				<key>Status</key>
				<string>100</string>
			</dict>
			<key>OutputPrefix</key>
			<string>default</string>
		</dict>
	</dict>
	<key>Simulation</key>
	<dict>
		<key>General</key>
		<dict>
			<key>TargetTemperature</key>
			<string>300</string>
			<key>TimeStep</key>
			<string>1</string>
			<key>NumberOfSteps</key>
			<string>1000</string>
			<key>CheckFPError</key>
			<string>100</string>
			<key>MaximumSpaceSize</key>
			<string>100</string>
		</dict>
		<key>Dynamics</key>
		<dict>
			<key>Newtonian</key>
			<string></string>
			<key>Langevin</key>
			<dict>
				<key>Gamma</key>
				<string>0.05</string>
			</dict>
			<key>Selection</key>
			<array>
				<string>Newtonian</string>
			</array>
			<key>Type</key>
			<string>Single</string>
		</dict>
	</dict>
	<key>Solvation</key>
	<dict>
		<key>Continuum</key>
		<dict>
			<key>CouplingFactor</key>
			<string>100</string>
		</dict>
		<key>Explicit</key>
		<dict>
			<key>Solvent</key>
			<string>Water</string>
			<key>SphereRadius</key>
			<string>12</string>
			<key>BoundarySize</key>
			<string>1.5</string>
			<key>SolventDensity</key>
			<string>1000</string>
		</dict>
		<key>Selection</key>
		<array>
			<string>Continuum</string>
		</array>
		<key>Type</key>
		<string>Single</string>
	</dict>
	<key>Electrostatic</key>
	<dict>
		<key>General</key>
		<dict>
			<key>Cutoff</key>
			<string>12</string>
			<key>RelativePermittivity</key>
			<string>1</string>
			<key>UpdateInterval</key>
			<string>20</string>
		</dict>
		<key>ShortRange</key>
		<dict>
			<key>Pure</key>
			<string></string>
			<key>Shifted</key>
			<string></string>
			<key>Switched</key>
			<string></string>
			<key>GRF</key>
			<dict>
				<key>Epsilon1</key>
				<string>1</string>
				<key>Epsilon2</key>
				<string>78</string>
				<key>Kappa</key>
				<string>0</string>
			</dict>
			<key>Selection</key>
			<array>
				<string>Shifted</string>
			</array>
			<key>Type</key>
			<string>Single</string>
		</dict>
		<key>LongRange</key>
		<dict>
			<key>None</key>
			<string>None</string>
			<key>Selection</key>
			<array></array>
			<key>Type</key>
			<string>Single</string>
		</dict>
	</dict>
	<key>Controller</key>
	<string>Standard</string>	
</dict>
</plist>
