<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>ARG</key>
    <dict>
	<key>CD*</key>
	<string>2.44</string>
	<key>CE</key>
	<string>2.80</string>
	<key>CG*</key>
	<string>2.46</string>
	<key>CZ</key>
	<string>2.80</string>
	<key>NE</key>
	<string>2.13</string>
	<key>NH*</key>
	<string>2.13</string>
	<key>NZ</key>
	<string>2.13</string>
    </dict>
    <key>ASN</key>
    <dict>
	<key>CD</key>
	<string>1.98</string>
	<key>CG</key>
	<string>1.98</string>
	<key>ND2</key>
	<string>2.15</string>
	<key>NE2</key>
	<string>2.15</string>
	<key>OD*</key>
	<string>1.42</string>
	<key>OE*</key>
	<string>1.42</string>
    </dict>
    <key>ASP</key>
    <dict>
	<key>CD</key>
	<string>1.98</string>
	<key>CG</key>
	<string>1.98</string>
	<key>OD*</key>
	<string>1.42</string>
	<key>OE*</key>
	<string>1.42</string>
    </dict>
    <key>CYS</key>
    <dict>
	<key>S*</key>
	<string>2.00</string>
    </dict>
    <key>GLN</key>
    <dict>
	<key>CD</key>
	<string>1.98</string>
	<key>CG</key>
	<string>1.98</string>
	<key>CG*</key>
	<string>2.46</string>
	<key>ND2</key>
	<string>2.15</string>
	<key>NE2</key>
	<string>2.15</string>
	<key>OD*</key>
	<string>1.42</string>
	<key>OE*</key>
	<string>1.42</string>
    </dict>
    <key>GLU</key>
    <dict>
	<key>CD</key>
	<string>1.98</string>
	<key>CG</key>
	<string>1.98</string>
	<key>CG*</key>
	<string>2.46</string>
	<key>OD*</key>
	<string>1.42</string>
	<key>OE*</key>
	<string>1.42</string>
    </dict>
    <key>GLY</key>
    <dict>
	<key>CA</key>
	<string>2.38</string>
    </dict>
    <key>Generic</key>
    <dict>
	<key>C</key>
	<string>2.04</string>
	<key>CA</key>
	<string>2.38</string>
	<key>CB</key>
	<string>2.67</string>
	<key>H*</key>
	<string>0.00</string>
	<key>N</key>
	<string>2.23</string>
	<key>O</key>
	<string>1.52</string>
    </dict>
    <key>HIS</key>
    <dict>
	<key>CG*</key>
	<string>2.46</string>
	<key>ND1</key>
	<string>2.31</string>
	<key>NE2</key>
	<string>2.31</string>
	<key>CD*</key>
	<string>2.00</string>
	<key>CE*</key>
	<string>2.00</string>
    </dict>
      <key>HIE</key>
    <dict>
	<key>CG*</key>
	<string>2.46</string>
	<key>ND1</key>
	<string>2.31</string>
	<key>NE2</key>
	<string>2.31</string>
	<key>CD*</key>
	<string>2.00</string>
	<key>CE*</key>
	<string>2.00</string>
    </dict>
    <key>ILE</key>
    <dict>
	<key>CD*</key>
	<string>2.44</string>
	<key>CG*</key>
	<string>2.46</string>
    </dict>
    <key>LEU</key>
    <dict>
	<key>CG*</key>
	<string>2.46</string>
	<key>CD*</key>
	<string>2.44</string>
    </dict>
    <key>LYS</key>
    <dict>
	<key>CD*</key>
	<string>2.44</string>
	<key>CE</key>
	<string>2.80</string>
	<key>CG*</key>
	<string>2.46</string>
	<key>CZ</key>
	<string>2.80</string>
	<key>NE</key>
	<string>2.13</string>
	<key>NH*</key>
	<string>2.13</string>
	<key>NZ</key>
	<string>2.13</string>
    </dict>
    <key>MET</key>
    <dict>
	<key>CE</key>
	<string>2.1</string>
	<key>CG*</key>
	<string>2.46</string>
	<key>S*</key>
	<string>2.00</string>
    </dict>
    <key>PHE</key>
    <dict>
	<key>CD*</key>
	<string>2.00</string>
	<key>CE*</key>
	<string>2.00</string>
	<key>CG*</key>
	<string>2.46</string>
	<key>CZ</key>
	<string>2.00</string>
    </dict>
    <key>PRO</key>
    <dict>
	<key>CB</key>
	<string>1.98</string>
	<key>CD</key>
	<string>1.98</string>
	<key>CG</key>
	<string>1.98</string>
    </dict>
    <key>SER</key>
    <dict>
	<key>OG*</key>
	<string>1.64</string>
    </dict>
    <key>THR</key>
    <dict>
	<key>CG*</key>
	<string>2.46</string>
	<key>OG*</key>
	<string>1.64</string>
    </dict>
    <key>TRP</key>
    <dict>
	<key>CD*</key>
	<string>1.78</string>
	<key>CE*</key>
	<string>1.78</string>
	<key>CG*</key>
	<string>2.46</string>
	<key>CH2</key>
	<string>1.78</string>
	<key>CZ*</key>
	<string>1.78</string>
	<key>NE1</key>
	<string>2.4</string>
    </dict>
    <key>TYR</key>
    <dict>
	<key>CG*</key>
	<string>2.46</string>
	<key>CD*</key>
	<string>2.00</string>
	<key>CE*</key>
	<string>2.00</string>
	<key>CZ</key>
	<string>2.00</string>
	<key>OH</key>
	<string>1.85</string>
    </dict>
    <key>VAL</key>
    <dict>
	<key>CG*</key>
	<string>2.46</string>
    </dict>
</dict>
</plist>